{% extends 'base.html' %}
{% block title %}
کوین های ترند امروز
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='/cards/cards.css')}}">
<script src="https://kit.fontawesome.com/560baa4311.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link id="pagestyle" href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
{% endblock head %}
{% block content %}
<h1 class="h2 text-end mt-8">پیش بینی قیمتی رمزارزها</h1>
<div class="container cards-container m-3">
    {% for d in details %}
    {% if loop.index%4==1 %}
    <div class="row">
    {% endif %}
        <div class="col-md-3"><a href="/expectation/{{d[0]}}" class="card">
                <div class="image-container">
                    <img src="/uploads/coins/{{d[0]}}.png" width="71" style="z-index: 99;">
                </div>
                <info class="info">
                    <h2>{{d[1]}}</h2>
                    <p>قیمت: {{d[2]|round(2)}}</p>
                    <p>درصد تغییرات یک روزه:<br>{{d[3]|round(2)}}%</p>
                    {#{% set vol = d[4].split('.') %}#}
                    <p>حجم بازار:<br>{{"${:,.2f}".format((d[4]|float))}}</p>
                    <p>معاملات یک روزه بازار:<br> {{"${:,.2f}".format(d[5])}}</p>
                </info>
            </a>
        </div>
    {% if loop.index%4==0 %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}