<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<canvas id="myChart"></canvas>
<script>
    const DATA_COUNT = 12;
    const labels = [];
    var today = new Date();
    var chart_data=[];
// for (let i = 0; i < DATA_COUNT; ++i) {
//   labels.push(i.toString());
// }
// https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=7&interval=daily
var jqxhr = $.get("https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=7&interval=daily", function(data ) {
    })
    .done(function(data) {
    chartjsCreator2(data)
    console.log(data);
    })
    .fail(function() {
    })
    .always(function() {
    });
  function chartjsCreator2(data_input){
    console.log(data_input["prices"]);
    input_length=data_input["prices"].length
    for(i=0;i<input_length;i++){
        chart_data.push(data_input["prices"][i][1])
        labels.push(today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate()-(input_length-i-1)))
        console.log("chart index data",data_input["prices"][i][1])
    }
    console.log("chart_data",chart_data);
    creator(chart_data)
    }
function creator(chart_data){
    const data = {
    labels: labels,
    datasets: [
    {
      label: 'Cubic interpolation (monotone)',
      data: chart_data,
      borderColor: 'rgba(0, 0, 0, 1)',
      fill: false,
      cubicInterpolationMode: 'monotone',
      tension: 0.4
    }
  ]
};
const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Chart.js Line Chart - Cubic interpolation mode'
      },
    },
    interaction: {
      intersect: false,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Price'
        }
      }
    }
  },
};
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx,config)
}
</script>
</body>
</html>