<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='writer_form/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="container">
            <div class="py-2 text-center">
                <h1 class="h3">
                    دسته بندی خود را اضافه ، ویرایش و یا حذف کنید
                </h1>
            </div>
            <form action="/addcat" method="POST">
                <div class="row">
                    <div class="col-12">
                        <section>
                            <div class="center pt-4">
                                <div class="py-3 w-50">
                                    <div class="mx-auto text-center">
                                        <input name="cat_name" class="w-100 p-2 b" type="text"
                                            placeholder="نام دسته بندی">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="w-50 mx-auto">
                    <input class="btn btn-primary btn-block" type="submit" value="افزودن">
                </div>
            </form>
        </div>
        <div class="center py-5">
            <div class="f_row"></div>
            {% for cat in cats %}
            <div class="cat mx-2">{{cat.name}}</div>
            {% endfor %}
        </div>
        </div>
    </main>
</body>

</html>