{% extends "base.html" %}
{% block title %}رمزارزها{% endblock title %}
{% block head %}
<link href="{{ url_for('static', filename='css/footable/footable.standalone.min.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/footable/fooicon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footable/footable.css')}}">
<link href="{{ url_for('static', filename='css/nucleo-icons.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/nucleo-svg.css') }}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<link rel="stylesheet" href="">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
{% endblock %}
{% block content %}
<h1 class="h2 text-end mt-8 m-5">قیمت امروز رمزارزها</h1>
<div class="fluid-container m-5">
  <div class="row foo">
    <div class="table-container">
      <table id="coins-table" class="table" {#data-paging="true" data-sorting="true" #} data-filtering="true" data-state="true">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">کوین</th>
            <th scope="col">نام اختصاری</th>
            <th scope="col">قیمت</th>
            <th class="col-md-2" scope="col">تغییرات 24 ساعته</th>
            <th class="col-md-2" scope="col">حجم معاملات</th>
            <th scope="col">حجم بازار</th>
          </tr>
        </thead>
        <tbody>
          {% for object in data %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td><img src="/uploads/coins/{{object.ShortName}}.png" height="24px" alt=""> <a
                href="/coin/{{object.ShortName}}">{{object.FullName}}</a></td>
            <td>{{object.ShortName}}</td>
            <td>{{object.price|round(2)}} $</td>
            <td dir="ltr">{{object.percent|round(3)}}%</td>
            <td>{{ "{:,.2f} $".format(object.volume)}}</td>
            <td>{{ "{:,.2f} $".format(object.marketcap)}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for a in articles %}
    <div class="col-md-4">
      <div class="card rtl text-center bx-shd-card m-1">
        <div class="card-body">
          <h5 class="card-title">آشنایی با اندیکاتور<br><br>{{ a.name | upper() }}</h5>
          <br>
          <p class="card-text">{{ a.shortdesc[:50] }}...</p>
          <a href="" class="btn btn-primary">ادامه مطلب &larr;</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/smooth-scrollbar.min.js') }}"></script>
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/footable/footable.js') }}"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    console.log("hello")
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
  jQuery(function ($) {
    $('#coins-table').footable();
  });
</script>
{% endblock %}