{% extends "base.html" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
    <a class="navbar-brand" href="#">Flask Crypto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('Homepage')}}">خانه - لیست رمزارزها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}
{% block content %}
<h1 class="h2 text-end my-5">قیمت امروز رمزارزها</h1>
<div class="container">
    <div class="row">
        <table class="table table-hover" dir="rtl" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">لوگو</th>
                    <th scope="col">کوین</th>
                    <th scope="col">قیمت</th>
                    <th class="col-md-2" scope="col">تغییرات 24 ساعته</th>
                    <th class="col-md-2" scope="col">حجم معاملات</th>
                    <th scope="col">حجم بازار</th>
                </tr>
            </thead>
            <tbody>
                {% for object in data %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><img src="/uploads/coins/{{object.ShortName}}.png" height="24px" alt=""></td>
                    <td>{{object.ShortName}}</td>
                    <td>{{object.price}} $</td>
                    <td dir="ltr">{{object.percent}}%</td>
                    <td>{{object.volume}} $</td>
                    <td>{{object.marketcap}} $</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{# <div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" >
                <img src="" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis?
                    </p>
                    <a href="" class="btn btn-primary">button</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card"><img src="" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis?
                    </p>
                    <a href="" class="btn btn-primary">button</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card"><img src="" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis?
                    </p>
                    <a href="" class="btn btn-primary">button</a>
                </div>
            </div>
        </div>
    </div>
</div> #}
<div class="container">
    {% for object in data %}
    {% if ((loop.index)%3==1) %}
    <div class="row">
    {% endif %}
    <div class="col">
        <div class="card" style="display: inline-block;">
            <img src="/uploads/coins/{{object.ShortName}}.png" height="64px" width="64px" style="display: inline-block;" alt="">
            <span class="card-title" style="display: inline-block;">{{object.FullName}}</span>
            <p style="display: inherit;">({{object.ShortName}})</p>
            <div class="chart{{loop.index}}">
			<canvas id="myChart{{loop.index}}"></canvas>
            </div>
            <div id="chartdiv{{loop.index}}"></div>
            <div class="card-body">
                <h5 class="card-title">2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, officiis?
                </p>
                <a href="" class="btn btn-primary">button</a>
            </div>
        </div>
    </div>
    {% if ((loop.index)%3==0) %}
    </div>
    {% endif %}
    {% endfor %}
    <canvas id="myChart"></canvas>
</div>
<!-- <script>
    const DATA_COUNT = 12;
    const labels = [];
    var chart_data=[];
for (let i = 0; i < DATA_COUNT; ++i) {
  labels.push(i.toString());
}

for (let i=0;i<{{data|length}};++i){

}
// https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=7&interval=daily
var jqxhr = $.get("https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=7&interval=daily", function(data ) {
    console.log(data)
    })
    .done(function(data) {
    console.log("data:",data)
    chartjsCreator2(data)
    })
    .fail(function() {
    })
    .always(function() {
    });
  function chartjsCreator2(chart_data){
    for(i=0;i<chart_data.length;i++){
    chart_data.push(chart_data['prices'][i])
    console.log('-',chart_data.prices);
    }
    console.log("chart_data",chart_data);
    creator(chart_data)
  }
{#{% for d in data %}
chart_data.push({{d.price}});
{% endfor %}
console.log(chart_data)
#}
function creator(chart_data){
    const data = {
    // labels: labels,
    datasets: [
    {
      label: 'Cubic interpolation (monotone)',
      data: chart_data,
      borderColor: 'rgba(0, 0, 0, 1)',
      fill: false,
      cubicInterpolationMode: 'monotone',
      tension: 0.4
    }
  ]
};
const config = {
  type: 'line',
  data: chart_data,
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Chart.js Line Chart - Cubic interpolation mode'
      },
    },
    interaction: {
      intersect: false,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Price'
        }
      }
    }
  },
};
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx,config)
}
</script> -->
<script>
    const labels = [];
    var today = new Date();
    var chart_data=[];
// https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=7&interval=daily
var jqxhr = $.get("https://api.coingecko.com/api/v3/coins/bitcoin/market_chart?vs_currency=usd&days=7&interval=daily", function(data){
    })
    .done(function(data) {
    chartjsCreator2(data)
    //console.log("data: ", data);
    })
    .fail(function() {
    })
    .always(function() {
    });
  function chartjsCreator2(data_input){
    console.log(data_input["prices"]);
    input_length=data_input["prices"].length
    for(i=0;i<input_length;i++){
        chart_data.push(data_input["prices"][i][1])
        labels.push(today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate()-(input_length-i-1)))
        console.log("chart index data",data_input["prices"][i][1])
    }
    console.log("chart_data",chart_data);
    creator(chart_data)
    }
function creator(chart_data){
    console.log("labels",labels);
    const data = {
    labels: labels,
    datasets: [
    {
      label: 'Cubic interpolation (monotone)',
      data: chart_data,
      borderColor: 'rgba(0, 0, 0, 1)',
      fill: false,
      cubicInterpolationMode: 'monotone',
      tension: 0.4
    }
  ]
};
const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
      interaction: {
      intersect: false,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Price'
        }
      }
    }
  },
};
const ctx = document.getElementById('myChart1').getContext('2d');
const myChart = new Chart(ctx,config)
}
</script>
<script>
  am5.ready(function() {
  
  // Create root element
  // https://www.amcharts.com/docs/v5/getting-started/#Root_element
  var root = am5.Root.new("chartdiv2");
  
  // Set themes
  // https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([
    am5themes_Animated.new(root)
  ]);
  
  root.dateFormatter.setAll({
    dateFormat: "yyyy",
    dateFields: ["valueX"]
  });
  
  var data = [
    {
      date: "2012-01-01",
      value: 8
    },
    {
      date: "2012-01-02",
      value: 10
    },
    {
      date: "2012-01-03",
      value: 12
    },
    {
      date: "2012-01-04",
      value: 14
    },
    {
      date: "2012-01-05",
      value: 11
    },
    {
      date: "2012-01-06",
      value: 6
    },
    {
      date: "2012-01-07",
      value: 7
    },
    {
      date: "2012-01-08",
      value: 9
    },
    {
      date: "2012-01-09",
      value: 13
    },
    {
      date: "2012-01-10",
      value: 15
    },
    {
      date: "2012-01-11",
      value: 19
    },
    {
      date: "2012-01-12",
      value: 21
    },
    {
      date: "2012-01-13",
      value: 22
    },
    {
      date: "2012-01-14",
      value: 20
    },
    {
      date: "2012-01-15",
      value: 18
    },
    {
      date: "2012-01-16",
      value: 14
    },
    {
      date: "2012-01-17",
      value: 16
    },
    {
      date: "2012-01-18",
      value: 18
    },
    {
      date: "2012-01-19",
      value: 17
    },
    {
      date: "2012-01-20",
      value: 15
    },
    {
      date: "2012-01-21",
      value: 12
    },
    {
      date: "2012-01-22",
      value: 10
    },
    {
      date: "2012-01-23",
      value: 8
    }
  ];
  
  // Create chart
  // https://www.amcharts.com/docs/v5/charts/xy-chart/
  var chart = root.container.children.push(
    am5xy.XYChart.new(root, {
      focusable: true,
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
    pinchZoomX:true
    })
  );
  
  var easing = am5.ease.linear;
  
  // Create axes
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
  var xAxis = chart.xAxes.push(
    am5xy.DateAxis.new(root, {
      maxDeviation: 0.5,
      groupData: false,
      baseInterval: {
        timeUnit: "day",
        count: 1
      },
      renderer: am5xy.AxisRendererX.new(root, {
        pan:"zoom",
        minGridDistance: 50
      }),
      tooltip: am5.Tooltip.new(root, {})
    })
  );
  
  var yAxis = chart.yAxes.push(
    am5xy.ValueAxis.new(root, {
      maxDeviation: 1,
      renderer: am5xy.AxisRendererY.new(root, {pan:"zoom"})
    })
  );
  
  // Add series
  // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  var series = chart.series.push(
    am5xy.LineSeries.new(root, {
      minBulletDistance: 10,
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "value",
      valueXField: "date",
      tooltip: am5.Tooltip.new(root, {
        pointerOrientation: "horizontal",
        labelText: "{valueY}"
      })
    })
  );
  
  // Set up data processor to parse string dates
  // https://www.amcharts.com/docs/v5/concepts/data/#Pre_processing_data
  series.data.processor = am5.DataProcessor.new(root, {
    dateFormat: "yyyy-MM-dd",
    dateFields: ["date"]
  });
  
  series.data.setAll(data);
  
  series.bullets.push(function() {
    var circle = am5.Circle.new(root, {
      radius: 4,
      fill: series.get("fill"),
      stroke: root.interfaceColors.get("background"),
      strokeWidth: 2
    });
  
    return am5.Bullet.new(root, {
      sprite: circle
    });
  });
  
  createTrendLine(
    [
      { date: "2012-01-02", value: 10 },
      { date: "2012-01-11", value: 19 }
    ],
    root.interfaceColors.get("positive")
  );
  
  createTrendLine(
    [
      { date: "2012-01-17", value: 16 },
      { date: "2012-01-22", value: 10 }
    ],
    root.interfaceColors.get("negative")
  );
  
  function createTrendLine(data, color) {
    var series = chart.series.push(
      am5xy.LineSeries.new(root, {
        xAxis: xAxis,
        yAxis: yAxis,
        valueXField: "date",
        stroke: color,
        valueYField: "value"
      })
    );
  
    series.data.processor = am5.DataProcessor.new(root, {
      dateFormat: "yyyy-MM-dd",
      dateFields: ["date"]
    });
  
    series.data.setAll(data);
    series.appear(1000, 100);
  }
  
  // Add cursor
  // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
  var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
    xAxis: xAxis
  }));
  cursor.lineY.set("visible", false);
  
  // add scrollbar
  chart.set("scrollbarX", am5.Scrollbar.new(root, {
    orientation: "horizontal"
  }));
  
  // Make stuff animate on load
  // https://www.amcharts.com/docs/v5/concepts/animations/
  series.appear(1000, 100);
  chart.appear(1000, 100);
  
  }); // end am5.ready()
  </script>
  <style>
    #chartdiv2 {
      width: 100%;
      height: 500px;
    }
  </style>
  <script>
    Highcharts.chart('chartdiv3', {

title: {
    text: 'Logarithmic axis demo'
},

xAxis: {
    tickInterval: 1,
    type: 'logarithmic',
    accessibility: {
        rangeDescription: 'Range: 1 to 10'
    }
},

yAxis: {
    type: 'logarithmic',
    minorTickInterval: 0.1,
    accessibility: {
        rangeDescription: 'Range: 0.1 to 1000'
    }
},

tooltip: {
    headerFormat: '<b>{series.name}</b><br />',
    pointFormat: 'x = {point.x}, y = {point.y}'
},

series: [{
    data: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512],
    pointStart: 1
}]
});
var jqxhr = $.get("https://api.coingecko.com/api/v3/coins/{{data[0].FullName|lower}}/market_chart?vs_currency=usd&days=7&interval=daily", function(data){
})
.done(function(data) {
//chartjsCreator2(data)
console.log("data: ", data);
})
.fail(function() {
})
.always(function() {
});
  </script>
{% endblock %}